/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .customButton {
    background-color: theme('colors.cyan.300');
    padding: theme('spacing.2');
    font-weight: theme('fontWeight.semibold');
    border-radius: theme('borderRadius.md');
    box-shadow: theme('boxShadow.lg');
  }
  .customButton:hover {
    background-color: theme('colors.cyan.400');
  }
  .itemContainer {
    margin-top: theme('margin.3');
    margin-bottom: theme('margin.3');
    padding-left: theme('padding.3');
    padding-right: theme('padding.3');
    width: theme('width.1/3');
    overflow: 'hidden';
    /* my-3 px-3 w-1/3 overflow-hidden */
  }
}